.banner img{
    height: 20vh;
    width: 100%
}

.slide{
    width: 100%
}
.menu{
    background: red;
}
ul{
    margin: auto;
}
ul li a{
    color: white !important;
}
a:hover{
    background: #b20c0c;
    border-radius: 5px;
}
.logo{
    height: 80px;
    margin-top: px;
    margin-bottom: 0px;
    padding: 0px;
    margin-left: 20%
}
.navbar{
    margin: 0px;
    padding: 0px;
}
input,button{
    border-radius: 5px;
    border: none;
}
.latest-news{
    margin: 0px;
    padding: 0px;
    height: 8vh;
}


.heading{
    display: inline-block;
    background: red;
    color: white;
    font-size: 30px;
    font-weight: bold;
    padding: 5px;
    padding-left: 25px
}
.marq{
    background: green;
    color: white
}
@media (max-width:1170px){
    .heading{
        margin-right: 0px;
        width: 25% ;
    }
    .marq{
        width: 75%
    }
}

@media (max-width:800px){
    .heading{
        margin-right: 0px;
        width: 30% ;
    }
    .marq{
        width: 70%
    }
}
@media (max-width:685px){
    .heading{
        margin-right: 0px;
        width: 38% ;
    }
    .marq{
        width: 62%
    }
}
@media (max-width:500px){
    .heading{
        margin-right: 0px;
        width: 50% ;
    }
    .marq{
        width: 50%
    }
}
@media (max-width:380px){
    .heading{
        font-size: 20px;
        margin-right: 0px;
        width: 30%;
        clear: left;
        clear: right;
        display: inline-block;
    }
    .marq{
        width: 70%;
        font-size: 25px;
    }
}
.welcome h2{
    color: #172a6e;
    font-size: 42px;
    line-height: 42px;
}
.madrasa{
    height: 400px;
    width: 100%;
}
.read{
    padding: 11px 20px;
    color: white;
    background: #110535 ;
}
.history{
    margin-top: 50px;
    text-align: center;
    background: #322D5A;
    color: white;
}
.history h2{
    margin-top: 60px;
    margin-bottom: 60px;
}
.history .read{
    width: 150px;
    margin: auto;
    align-self: center;
    margin-bottom: 50px;
} 
.message h4{
    
    font-size: 22px;
    line-height: 25px;
    font-weight: 500;
    margin-left: 22px;
    letter-spacing: 0px;
    color: #8E2A9C;

}
.qutaion
{
    color: #787878;
    font-size: 17px;
    line-height: 31px;
    display: block;
    height: auto;
    margin: 0 0 35px 25px;
    position: relative;
    margin-top: 10px;
}
.msg{
    margin-top: 30px;
}
.message{
    border-radius: 50px;
}
.message img{
    height: 100%;
    width: 100%
}
.vice{
    margin-top: 30px;
    line-height: 40px;
}
.teachers img{
    height: 70%;
    width: 100%;
    margin-top: 20px;
}
.container .col-md-3{
    color: white;
    border-radius: 10px;
    background: #6F4C84;
        
}
.teachers .col-md-3{
    margin-top: 50px !important; 
}
.hr{
    margin: auto;
    height: 3px;
    width: 100px;
    background:#6F4C84;
}
.teachers{
    text-align: center;
    background: #322D5A;
}
.teachers .container{
    margin-top: 50px;
    background: #322D5A;
    color: white;
    border-radius: 10px;
}
.teachers h2{
    color: white;
}
.teachers button{
margin-bottom: 3rem;
}
.services{
    background: green;
    text-align: center;
    color: white
}
.services input{
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.services .col-12{
    margin-top: 100px;
}
textarea{
    width: 100%;
    margin-top: 20px;
    border-radius: 5px;
    margin-bottom: 50px;
}
.services .hr{
    background: #075f07;
}
@media (min-width:780px){
    .ml{
        margin-left: 30px;
    }
}
@media (max-width: 1000px) and (min-width: 580px){
    .message img{    
}
    }
@media (max-width:580px){
    .col-md-3{
        width: 90%
    }
}
